body {
  padding: .5em 1em;
}

.inline-form {
  display: inline;
}

input[type=text],
textarea {
  width: 20em;
  background-color: #ffffff;
  margin-bottom: .5em;
  border: solid 1px #c1c1c1;
  border-radius: 4px;
}

textarea {
  height: 8em;
}

button,
a.button {
  display: inline-block;
  background-color: #ececec;
  color: black;
  padding: 2px 15px;
  margin: .2em;
  font-size: 14px;
  text-decoration: none;
  border: solid 1px #c1c1c1;
  border-radius: 4px;
  cursor: pointer;
}
